<div class="navbar p-2 d-flex justify-content-between bg-secondary bg-opacity-10 p-3 border-bottom">
  <%=link_to "Wikinimous", articles_path, class: "fs-6 fw-normal text-muted text-decoration-none mb-0 ms-3" %>
  <%=link_to "New article", new_article_path, class: "text-decoration-none text-muted"%>
</div>




<div class="row justify-content-center">
  <div class="col-6 mt-5">
    <div class="d-flex  align-items-center border-bottom">
      <h1><%= @article.title %></h1>
      <%= link_to edit_article_path do %>
        <i class="fa-solid fa-pencil fs-4 ms-3"></i>
      <% end %>
      <%= link_to article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure ?"} do %>
        <i class="fa-regular fa-trash-can fs-4 ms-1"></i>
      <% end %>
    </div>
    <div class="mt-3">
      <p><%= @article.content%></p>
      <%= link_to "back", articles_path %>
    </div>

  </div>

</div>
